html {

}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 1rem;
    background-color: #5B8E7D;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5B8E7D;
    padding: 1em;
}

nav {
    font-family: Source Sans Pro, serif;
    display: flex;
    justify-content: center;
    background-color: #5B8E7D;
    padding: 4px 12px;
    border: 1px solid #5B8E7D;
}

h2 {
    color: #980000
}

header > h1,
header > p,
nav > p {
    margin: 2px;
}

nav a {
    text-decoration: none;
    padding: 0 1em;
}

article {
    padding: 1em;
    max-width: 1200px;
    margin: auto !important;
}

.markdown-body {
    background-color: #c6ded5;
}

/** Site Experience Sections **/

table.experience {
    width: 100%;
    position: relative;
    margin-bottom: 12px;
    list-style-type: none;
    border-collapse: collapse;
    background-color: #a7cbbe;
}

table.experience p {
    margin: 0;
}

table.experience td, table.experience th {
    padding: 8px;
}

table.experience tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table.experience tr:hover {
    background-color: #ddd;
}

table.experience th {
    text-align: left;
    background-color: #4f7c6c;
    color: white;
}


.experience .time {
    text-align: right;
    font-style: italic;
    font-size: smaller;
    width: 8em;
}


/** References **/
table.references {
    width: 100%;
    background-color: #a7cbbe;
}


table.references td, table.references th {
    padding: 8px;
}

table.references th {
    text-align: left;
    background-color: #4f7c6c;
    color: white;
}

table.references > tr {
    vertical-align: top;
}